
html, body, #map-canvas { 
	height: 94%;
	margin: 0;
	padding: 0;
}

#on {
	float:right;
	width:70%;
	height: 80px;

}

form {
	position: absolute;
}

#address {
	width:200px;
	height: 20px;
}
input {
	width: 50%;

}