
html, body, #map-canvas { 
	height: 94%;
	margin: 0;
	padding: 0;
}

#on {
	float:right;
	width:70%;
	height: 80px;
	border: blue 1px solid;
	background-color: #D1D1E0;
	border-radius: 20px;
}

form {
	position: absolute;
}

#address {
	width:200px;
	height: 20px;
}
input {
	width: 50%;

}